#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  transition: 200ms;
}

.container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}



.card:hover {
  scale: 1.03;
}

.title {
  width: 100%;
}